* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    ;
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 3px solid grey; */
    height: 100%;
}

header {
    color: blue;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    border-bottom: 3px solid grey;
}

.primary-nav {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 35px;
    /* justify-content: center; */
}

#skip {
    display: none;
    font-size: 2rem;
}

#main-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

li {
    padding: 10px 20px;
    text-align: center;
}

.main-body {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.side-nav {
    /* display: flex;
    flex-direction: column; */
    /* width: 15vw;
    min-width: 150px;
    height: 100vh; */
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 3px solid grey;
    /* border-bottom: 3px solid grey; */
    /* height: 100%; */
}

.side-nav-links {
    list-style-type: none;
    padding: 10px 10px;
    font-size: 25px;
}

.work-area {
    /* display: flex;
    flex-direction: column; */
    /* width: 100%; */
    grid-column: 2/7;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* align-content: center; */
    height: 100vh;
}

.section-name {
    /* display: flex;
    flex-direction: row; */
    grid-row: 1/2;
    grid-column: 1/2;
    height: 75px;
    text-align: center;
    /* width: 100%; */
    /* padding-right: 0px; */
    font-size: 25px;
    /* text-align: center; */
    border-bottom: 3px solid grey;
}

.form-space {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* width: 100%; */
    font-size: 40px;
}

form {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(14, 1fr);
    /* width: 100%; */
}

.form-row {
    grid-column: 2/3;
    /* grid-row: 1/2; */
    width: 625px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(13, 1fr); */
}

.form-label {
    /* display: flex;
    flex-direction: column; */
    grid-column: 1/2;
    /* grid-row: 1/2; */
    text-align: right;
    width: 100%;
    /* padding: 5px 15px 5px 10px; */
    /* padding-left: 50px; */
    /* padding-top: 100px; */
    border: 1px solid black;
}

.form-answer {
    /* border: 1px solid black; */
    font-size: 38px;
}

.form-question {
    /* border: 1px solid black; */
}

.form-option {
    /* display: flex;
    flex-direction: column; */
    grid-column: 2/3;
    /* grid-row: 1/2; */
    font-size: 40px;
    /* width: 50%; */
    text-align: center;
    /* padding: 5px 15px; */
    border: 1px solid black;
}
