* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    ;
}

body {
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
}

header {
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 3px solid grey;
}

.primary-nav {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: center;
}

#skip {
    display: none;
    font-size: 2rem;
}

#main-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

li {
    padding: 10px 20px;
    text-align: center;
}

.main-body {
    display: flex;
    flex-direction: row;
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 15vw;
    min-width: 150px;
    height: 100vh;
    border-right: 3px solid grey;
}

.side-nav-links {
    list-style-type: none;
    padding: 10px 10px;
    font-size: 25px;
}

.work-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

.section-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    /* padding-right: 0px; */
    font-size: 25px;
    /* text-align: center; */
    border-bottom: 3px solid grey;
}

.form-space {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    width: 100%;
    /* min-width: 50vw;
    max-width: 250px; */
    /* padding: 5%; */
    font-size: 40px;
}

form {
    /* display: table; */
    width: 100%;
    align-content: center;
}

/* .form-row {
    display: table-row;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
} */

.form-label {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* padding: 5px 15px 5px 10px; */
    border: 1px solid black;
}

.form-option {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 50%;
    /* padding: 5px 15px; */
    border: 1px solid black;
}
